In [3]:
import pandas as pd
import requests

api_key = {'MNS8RP6DGCTYYBG2UHFLMTCQF'}
url = 'https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/snowbird?unitGroup=us&key=MNS8RP6DGCTYYBG2UHFLMTCQF&contentType=json'
r=requests.get(url)

In [8]:
tahoe = pd.read_csv('Resources/tahoe.csv')
tahoe

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW
0,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-01-04,NaN,NaN,0.07,NaN
1,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-01-05,NaN,NaN,0.15,NaN
2,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-01-06,NaN,NaN,0.02,NaN
3,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-01-07,NaN,NaN,0.03,NaN
4,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-01-08,NaN,NaN,0.21,NaN
...,...,...,...,...,...,...,...
391,US1CAFR0021,"SQUAW VALLEY 0.6 SE, CA US",2021-12-28,NaN,NaN,0.49,NaN
392,US1CAFR0021,"SQUAW VALLEY 0.6 SE, CA US",2021-12-29,NaN,NaN,0.06,NaN
393,US1CAFR0021,"SQUAW VALLEY 0.6 SE, CA US",2021-12-30,NaN,NaN,0.24,NaN
394,US1CAFR0021,"SQUAW VALLEY 0.6 SE, CA US",2022-01-01,NaN,NaN,0.03,NaN
395,US1CAFR0021,"SQUAW VALLEY 0.6 SE, CA US",2022-01-08,NaN,NaN,0.05,NaN

In [11]:
tahoe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 396 entries, 0 to 395
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   STATION  396 non-null    object
 1   NAME     396 non-null    object
 2   DATE     396 non-null    object
 3   DAPR     9 non-null      float64
 4   MDPR     9 non-null      float64
 5   PRCP     387 non-null    float64
 6   SNOW     10 non-null     float64
dtypes: float64(4), object(3)
memory usage: 21.8+ KB

In [16]:
tahoe = tahoe.dropna(subset=['SNOW'])
tahoe

,STATION,NAME,DATE,DAPR,MDPR,PRCP,SNOW
13,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-02-23,NaN,NaN,0.14,0.5
14,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2018-02-27,NaN,NaN,0.34,1.8
70,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2019-02-11,NaN,NaN,0.25,1.5
75,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2019-02-17,NaN,NaN,0.34,1.0
76,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2019-02-18,NaN,NaN,0.33,4.5
77,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2019-02-21,NaN,NaN,0.02,0.5
121,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2020-01-17,NaN,NaN,0.73,0.5
160,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2021-01-25,NaN,NaN,0.65,1.0
161,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2021-01-26,NaN,NaN,0.39,2.0
170,US1CAFR0022,"SQUAW VALLEY 3.1 ESE, CA US",2021-03-11,NaN,NaN,1.47,3.0